/* logviewer.css */

/* If this file is not available, it will be automatically created.
 * If it already exists, it will be used as it is, without being modified.
 * These settings can be changed to get the desired log files' look.
 */



/*  Logs highlighting: <p id="WARNING">Log message</p>  */

p.verbose {
    background-color: black;
    color: blue;
}

p.trace {
    background-color: black;
    color: blue;
}

p.detail {
    background-color: black;
    color: blue;
}

p.debug {
    background-color: black;
    color: blue;
}

p.info {
    background-color: black;
    color: blue;
}

p.notice {
    background-color: black;
    color: blue;
}

p.warning {
    background-color: black;
    color: yellow;
}

p.error {
    background-color: black;
    color: red;
}

p.critical {
    background-color: red;
    color: yellow;
}

p.severe {
    background-color: red;
    color: blue;
}

p.alert {
    background-color: yellow;
    color: blue;
}

p.fatal {
    background-color: yellow;
    color: red;
}

p.emergency {
    background-color: red;
    color: blue;
}


body {
    background-color: powderblue;
    color: red;
    font-family: courier;
    font-size: 160%;
    border: 1px solid powderblue;
    padding: 30px;
    margin: 50px;
}
h1 {
    color: blue;
}
p {
    color: red;
}

